<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Familia</title>
</head>
<body>
    Mis Padres y Hermanos son:
    <br>
   {% for familia in integrantes %}
    <br>
    Nombre y apellido: {{familia.nombre_y_apellido}}
    <br>
    DNI: {{familia.dni}}
    <br>
    Fecha de nacimiento: {{familia.fecha_nacimiento}}
    <br>
   {% endfor %}
   
</body>
</html>